body {
  font: 14px/17.4px "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
  margin: 0; }

.home {
  background-color: black; }

a {
  color: white;
  text-decoration: none; }

#main {
  min-width: 876px;
  padding: 135px 47px 10px; }

.splash {
  text-align: center;
  color: white;
  font-weight: bold; }

.splash_logo {
  font-size: 8vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  text-transform: uppercase;
  width: 100%;
  margin: 0; }

.splash_resume {
  position: absolute;
  bottom: 50px;
  font-size: 1.7vw;
  position: absolute;
  left: 60%;
  float: right;
  transform: translateX(-50%);
}

.splash_mail {
  position: absolute;
  bottom: 50px;
  font-size: 1.7vw;
  position: absolute;
  left: 40%;
  float: left;
  transform: translateX(-50%);
  }

.splash_video {
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
  object-fit: cover;
}

  .clearfix {
    clear:both;
  }
